---
---

@import "minima";

body {
  direction: rtl;
  text-align: right;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 1.9;
}

.site-title,
.site-nav,
.page-link {
  direction: rtl;
}

.post-content,
.page-content,
.home {
  direction: rtl;
  text-align: right;
}

pre,
code {
  direction: ltr;
  text-align: left;
}
